
<div class="container" style="margin-top: 8%;">
    <div class="row" >
        <div class="col-sm-2"></div>
        <div class="col-sm-10" >
            <!-- <h1>Hello</h1> -->
            <div class="card text-center">
                <!-- <div class="card-header">Featured</div> -->
                <div class="card-body">
                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    <img src="assets/c1.jpg" style="height: 400px;" class="card-img-top" alt="...">
                    <p class="card-text">“Success usually comes to those who are too busy to be looking for it.”</p>
                    <a routerLink="/place-appointment" class="btn btn-primary">Get Appointment</a>
                </div>
            </div>
            <!-- <img src="assets/homebg.jpg" alt=""> -->
        </div>
    </div>
</div>

