<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div>
             <!-- Logo Image -->
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1557368579/logo_iqjuay.png" width="45" alt="" class="d-inline-block align-middle mr-2">
            <!-- <img src="assets/logo.png" width="45" alt="" class="d-inline-block align-middle mr-2"> -->
            <!-- Logo Text -->
            <a href="https:vikovoila.github.io" class="navbar-brand">Fitness Trainer</a> </div>

        <ul class="navbar-nav">
            <li><a routerLink="/home" class="nav-link">Home</a></li>
            <li><a routerLink="/place-appointment" class="nav-link">Place Appointment</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="/view-appointment" class="nav-link">View Appointment</a></li>
            <li><a routerLink="/contactus" class="nav-link">Contact Us</a></li>
        </ul>

    </nav>
</header>
