<div class="container" style="margin-top: 8%;">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <h2 style="text-align: center; font-style: unset; font-weight: bold;">HAVE SOME QUESTIONS?</h2>
        </div>  
    </div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <img src="assets/envelop.png"  alt="">
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <form name="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row" style="margin-top: 50px;">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text"  class="form-control" formControlName="firstName"  [ngClass]="{'is-invalid':form.get('firstName').touched && form.get('firstName').invalid}" required />
                        <div class="invalid-feedback">
                            <div>First Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="row">   
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text"  class="form-control" formControlName="lastName"  [ngClass]="{'is-invalid':form.get('lastName').touched && form.get('lastName').invalid}" required />
                        <div class="invalid-feedback">
                            <div>Last Name is required</div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}"   />
                        <div *ngIf="form.get('email').touched && form.get('email').invalid"  class="invalid-feedback">
                          <div *ngIf="form.get('email').errors.required">Email Name is required</div>
                          <div *ngIf="form.get('email').errors.email">Email must be a valid email Address</div>
                        </div>
                      </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="textarea">Your Questions</label>
                        <textarea type="text"  class="form-control" formControlName="textarea" rows="3" [ngClass]="{'is-invalid':form.get('textarea').touched && form.get('textarea').invalid}" required ></textarea>
                        <!-- <textarea class="form-control" rows="4"></textarea> -->
                        <div class="invalid-feedback">
                            <div>Last Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" style="margin-left: 50px;"  [disabled]="!form.valid">Send Us</button>
                  </div>
            </form>
        </div>
    </div>
    
</div>